{{ define "title" }} {{ .Title }} {{ end }} {{ define "main" }}
<h1 class="page-title">{{ .Title }}</h1>

{{ .Content }}

<div id="my-gallery" class="pswp-gallery">
  {{ range $group := (readDir "assets/gallery") }}
  <div class="gallery-group">
    <h2 class="group-title">{{ $group.Name | title }}</h2>
    <div class="gallery-items">
      {{ $imagePattern := printf "gallery/%s/*" $group.Name }} {{ range $image
      := resources.Match $imagePattern }} {{ if eq $image.MediaType.MainType
      "image" }}
      <a
        href="{{ $image.Permalink }}"
        data-pswp-width="{{ $image.Width }}"
        data-pswp-height="{{ $image.Height }}"
      >
        <img src="{{ $image.RelPermalink }}" alt="{{ $image.Name }}" />
      </a>
      {{ end }} {{ end }}
    </div>
  </div>
  {{ end }}
</div>

{{ end }}
